body {
    background-image: url("baseball.png");
}

div {
    color: white
    -webkit-box-shadow: 0px 0px 5px 10px #fff;
    -moz-box-shadow: 0px 0px 5px 10px #fff;
    box-shadow: 0px 0px 5px 10px #fff; 
}

